@charset "utf-8";
/* CSS Document */
/*清除重置浏览器默认样式*/
body{margin:0;padding:0;border:0;font-size:14px;overflow:hidden;font-family:"微软雅黑";color:#52585b;}
span,h1,h2,h3,h4,h5,h6,p,a,em,img,dl,dt,dd,ol,ul,li,form,label,img,button,input{margin:0;padding:0;border:0;list-style:none;}
address,caption,cite,code,dfn,em,i,strong,th,var,optgroup{font-style:normal;font-weight:normal;}
/*table{border-collapse:collapse;border-spacing:0;}*/
/*textarea{resize:none;overflow:auto;}*/
a:link,a:visited{color:#01aaef;text-decoration:none;}
input, img,select{vertical-align:middle;}
/*th,td{display:table-cell;font-style:normal;font-weight:400;text-align:center;vertical-align:middle;font-size:12px;}*/
th{text-align: right}
table{cellpadding:5}
table .title{text-align: right}
img,i{border:0 none;height:auto;vertical-align:middle;}
button,input{font-family:"微软雅黑";}
input::-ms-clear{ display:none;}
/*公共样式*/
.fl{float:left;}
.fr{float:right;}
.tl{text-align:left;}
.tr{text-align:right;}
.tc{text-align:center;}
.tl{text-align:left;}
.tr{text-align:right;}
.ovf{overflow:hidden;}
.rel{position:relative;}
.abs{position:absolute;}
.icon{background:url(img/icon.png) no-repeat;}
.clearfix:after{clear:both;content:" ";display:block;height:0;visibility:hidden;}
.clearfix{display:block;}
.no_border{border:none;}
.bule{color:#01aaef;}
.orange{color:#ffa200;}
.green{color:#16c54c;}

/*单页布局样式*/
.head3{font-weight:normal;font-size:14px;padding:0 4px;
    /*width:100%;
    line-height:40px;
    height:40px;
    background:#fff;
    border-radius:5px;
    text-align:center;
    margin-bottom:20px;*/}
.function-btn{height:40px;width:100%;background:#fff;margin:4px 0 8px;line-height:40px;border-radius:5px;}
.boxtab-btn{top:0;}
.boxtab-btn li{float:left;font-size:13px;height:40px;/*width:60px;*/cursor:pointer;padding-left:34px;color:#0ae;}
.boxtab-btn li.add{background-position:-464px -111px;color:#ffa200;}
.boxtab-btn li.alt{background-position:-464px -140px;}
.boxtab-btn li.del{background-position:-464px -168px;color:#ff6565;}
.boxtab-btn li.other{background-position:-409px -229px;padding:0 34px 0 16px;z-index: 9999}
.boxtab-btn li.bat{background-position:-464px -197px;}
.boxtab-btn li.back{background-position:-464px -292px;}
.boxtab-btn-list{width:100px;right:0;background:#fff;border-radius:0 0 5px 5px;}
.boxtab-btn-list span{display:inline-block;width:100px;height:24px;line-height:24px;text-align:center;}

.search{width:200px;height:30px;border:1px solid #0ae;border-radius:4px;right:10px;top:4px;background:#0ae;}
.search-txt{height:30px;width:150px;width:144px \9;background:#fff;right:50px; right:44px \9;border-radius:4px 0 0 4px;padding-left:6px;}
.search-btn{height:30px;right:0;width:50px;background-position:8px -24px;cursor:pointer;}
.table-list{width:100%;}
.table-list-l{height:100%;width:18%;overflow: auto}
.table-list-r{height:100%;width:82%;}
.table-list-r-1{height:100%;width:100%;}

/*弹出框样式开始*/
.popups-wrong{width:600px;position:absolute;background:#f3f7f9;top:40%;left:30%;border-radius:5px;}
.popups-title{height:44px;line-height:44px;color:#fff;background:#0ae;border-radius:5px 5px 0 0;padding:0 10px;}
.popups-wrong-txt{width:100%;text-align:center;padding:20px 0;}
.popups-x{background-position:-1px -76px;display:inline-block;height:24px;right:10px;top:10px;width:24px;}
/*弹出框样式结束*/
/*高级搜索下拉框开始*/
.search-box{width:260px;background:#fff;right:0;top:40px;border-radius:0 0 5px 5px;padding:20px 20px 6px;z-index:9999;border:1px solid #cdd3d5;border-top:none;}
.search-box span{display:inline-block;/*width:80px;*/text-align:right}
.search-box input{border:1px solid #dbdee0;display:inline-block;height:30px;height:18px \9;width:158px;border-radius:4px;padding:0 6px;}
.search-box input[type='radio']{border:none;display:inline-block;height:30px;width:15px;border-radius:4px;padding:0 6px;}

.search-box select{display:inline-block;height:30px;border-radius:4px;border:1px solid #dbdee0;width:175px;}
.search-box .search-box-btn input{width:100%;background:#ffa200;border:none;color:#fff;cursor:pointer;height:30px;}
/*高级搜索下拉框结束*/
/*套餐管理-增加开始*/
.ad-search-box{width:100%;background:#fff;}
.ad-srh-wrap{padding-top:14px;border:1px solid #c3c7c9;border-radius:5px 5px 0 0;border-bottom:none;}
.ad-srh-wrap li{float:left;width:32%;padding-bottom:12px;height:32px;}
.ad-srh-wrap li span{text-align:right;padding-left:20px;display:inline-block;height:36px;line-height:36px;width:80px;}
.ad-srh-wrap li input{border:0px solid #c3c7c9;border-radius:4px;height:36px;width:200px;padding:0 0px;}
.ad-srh-wrap li select{border:1px solid #c3c7c9;border-radius:4px;height:38px;width:200px;padding:0 6px;}
.ad-srh-wrap .ad-srh-checkbox p{display:inline-block;width:350px;left:80px;height:40px;}
.ad-srh-wrap .ad-srh-checkbox p span{width:80px;margin:0;padding:0;}
.ad-srh-wrap .ad-srh-checkbox p input{width:16px;}
.set-meal-box{width:100%;}
.set-meal-top{height:40px;border:1px solid #c3c7c9;background:#cdd3d5;}
.set-meal-top p{height:28px;line-height:28px;padding:6px 10px;}
.set-meal-top p input{height:100%;width:60px;border-radius:3px;cursor:pointer;margin-left:10px;background:#0ae;color:#fff;}
.set-meal-table{height:220px;border:1px solid #c3c7c9;border-top:none;border-bottom:none;}
.store_set-meal-table{height:520px;border:1px solid #c3c7c9;border-top:none;border-bottom:none;}
/*报表开始*/
.search-pos-table{right:80px;}
.search-more{right:10px!important;font-size:12px;}
.search-more a{padding-right:14px;background-position:-431px -240px;}
.search-more a.pack-up{padding-right:14px;background-position:-431px -337px;}
.search-date{right:300px;font-size:11px;color:#979a9b;top:4px}
.search-date a{font-size:14px;display:inline-block;height:30px;background-position:-474px -362px;}
.search-box span.search-checkbox{width:175px;}
.search-checkbox input{width:20px;height:14px;}
.search-checkbox span{width:55px;}
.search-box .gray input{background:#c9cdcf;}
.pack-up-bottom{height:15px;background-position:-364px -419px;cursor:pointer;}
.table-nav{height:48px;border-bottom:1px solid #c3c7c9;width:100%;top:1px;}
.table-nav ul{position:absolute;bottom:-1px;}
.table-nav li{float:left;height:48px;background:#c3c7c9;width:200px;margin:0 20px 0 10px;line-height:48px;text-align:center;border-radius:4px 4px 0 0;color:#fff;border:1px solid #c3c7c9;cursor:pointer;}
.table-nav-margin{padding-top:50px;}
.table-nav li.current{background:#e9eef0;border-bottom:1px solid #e9eef0;color:#007aaa;}

/*报错开始*/
.error{width:690px;height:100%;margin:0 auto;background:url(img/wrong-bg.png) no-repeat;padding:200px 0;}
.error p{text-align:center;height:40px;line-height:40px;font-size:24px;}
.error p.error-txt{font-size:16px;}
/*报错结束*/
.pull-list{top:70px;z-index:9999;background:#042c3c;}
.headnav-user .pull-list a{padding:0;display:inline-block;width:140px;text-align:center;}
/**清除查询条件**/
.srh-close{display:inline-block;height:16px;width:16px;background-position:0px -112px;right:54px;top:7px;cursor:pointer;}
/**套餐增加数量**/
.set-meal-top p.No-change{width:130px;left:40%;}
.set-meal-top p.No-change input{width:40px;background:#fff;color:#52585b;border-radius:0;padding:0 6px;border:1px solid #0ae;margin:0;border-right:none;border-left:none;}
.set-meal-top p.No-change a{display:inline-block;height:29px;height:30px \9;width:28px;color:#fff;line-height:30px;text-align:center;font-size:20px;background-position:0px -339px;margin-top: -1px;margin-top:0px \9}
/*.set-meal-top p.No-change a.min{background-position:0 -378px;}*/
.set-meal-top p.No-change a.add{background-position:-2px -258px;}
.set-meal-top p.No-change a.max{background-position:-2px -299px;}

/**自定义报表查询样式**/
.search_rep{width:200px;height:30px;border:1px solid #0ae;border-radius:4px;top:4px;}
.srh-close_rep{display:inline-block;height:16px;width:16px;background-position:0px -112px;right:0px;top:7px;cursor:pointer;z-index: 9999}
/**自定义样式**/
.search-box input[class='js_payment_amount']{border:1px solid #dbdee0;display:inline-block;height:30px;width:115px;width:100px \9;border-radius:4px;padding:0 6px;}
.dialog-pad{  padding-left: 36px;  padding-top: 20px;  }
.js_table_branch{padding-top:14px;border:1px solid #c3c7c9;border-radius:5px 5px 0 0;border-bottom:none;}
.js_table_branch li{float:left;width:32%;padding-bottom:12px;height:32px;}
.js_table_branch .store_branch_span{text-align:right;padding-left:20px;display:inline-block;height:36px;line-height:36px;width:80px;}
/**出入库、盘点单明细页面制单人样式**/
.js_table_branch_under{padding-top:14px;border:1px solid #c3c7c9;border-radius:5px 5px 0 0;border-bottom:none;}
.js_table_branch_under li{float:left;width:25%;padding-bottom:12px;height:32px;}
.js_table_branch_under .store_branch_span{text-align:right;padding-left:20px;display:inline-block;height:36px;line-height:36px;width:80px;}
.js_table_branch_under li.rel input.abs{top:0px;left:109px;height:36px;line-height:36px;}
/**时间控件样式**/
.dateTimeRangeBox {  CURSOR: pointer; BORDER-TOP: #0ae 1px solid; HEIGHT: 22px; BORDER-RIGHT:#0ae 1px solid; BORDER-BOTTOM: #0ae 1px solid;  COLOR: #888; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px 3px; BORDER-LEFT:#0ae 1px solid; PADDING-RIGHT: 0px; border-radius: 5px; -webkit-transition: border ease .3s, background-color ease .3s, box-shadow ease .3s; transition: border ease .3s, background-color ease .3s, box-shadow ease .3s  }
.dateTimeRangeBox .timeInput {  OVERFLOW: hidden; CURSOR: pointer; FONT-SIZE: 12px; BORDER-TOP: 0px; HEIGHT: 30px; BORDER-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; WHITE-SPACE: nowrap; BORDER-BOTTOM: 0px; FLOAT: left; COLOR: #888; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 22px; PADDING-RIGHT: 0px; WIDTH: 114px  }
.dateTimeRangeBox SPAN {  HEIGHT: 22px; FLOAT: left; LINE-HEIGHT: 30px; WIDTH: 12px  }
.dateTimeRangeBox:hover {  BORDER-TOP: #bfe5f2 1px solid; BORDER-RIGHT: #bfe5f2 1px solid; BORDER-BOTTOM: #bfe5f2 1px solid; BORDER-LEFT: #bfe5f2 1px solid; BACKGROUND-COLOR: #f2fafc  }
.dateTimeRangeBox .timeInput:hover {  COLOR: #09c; BACKGROUND-COLOR: #e5f5fa  }
.dateTimeRangeBox .on {  FONT-WEIGHT: bold; COLOR: #09c; TEXT-DECORATION: none; LETTER-SPACING: -0.3px  }
/*上传文件样式*/
.inputText{  width: 100%;  height: 100%;  }
.a-upload {
    height: 100%;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}
/*公众号开始*/
.weixin-box{width:100%;background:#fff;border-radius:5px;margin-top:10px;}
.weixin-box-r,.weixin-box-ipt-r,.weixin-box-ipt-l{width:50%;height:100%;}
.weixin-box-l{width:47%;height:100%;border-right:1px dashed #cdd3d5;}
.weixin-top{height:1px;background:#0ae;margin:40px auto;width:80%;}
.weixin-top span{background:#fff;color:#0ae;display:inline-block;height:40px;line-height:40px;left:45%;padding:0 20px;top:-19px;letter-spacing:4px;font-weight:normal;}
.weixin-box-r .weixin-box-input p,.weixin-box-ltop p{float:left;width:340px;text-align:right;padding-bottom:20px;}
.weixin-box-r .weixin-box-input p span,.weixin-box-ltop p span{display:inline-block;text-align:right;width:80px;}
.weixin-box-r .weixin-box-input p select,.weixin-box-ltop p select{border:1px solid #dbdee0;border-radius:4px;display:inline-block;height:30px;width:175px;}
.weixin-box-r .weixin-box-ipt-r p{width:340px;}
.weixin-box-r .weixin-box-ipt-r p.cover{height:130px;}
.weixin-box-r .weixin-box-ipt-r p.cover span{height:100px;}
.weixin-box-r .weixin-box-ipt-r p.cover a{display:inline-block;width:170px;height:30px;left: 90px;border:2px solid #e9eef0;border-radius:5px;;color:#c3c7c9;padding-top:100px;text-align:center;background-position:67px -145px;}
.weixin-box-r p.search-box-btn{width:100%;text-align:center;}
.weixin-box-r p.search-box-btn input{background: #ffa200 none repeat scroll 0 0;color:#fff;cursor:pointer;width:30%;height:40px;border-radius:4px;margin:10px 0;}
.weixin-box-ltop{height:50px;border-bottom:1px solid #cdd3d5;}
.weixin-box-ltop p{height:50px;line-height:50px;text-align:left;}
.weixin-box-ltop p span{width:120px;}
.weixin-box-ltop a{padding-left:24px;background-position:-473px -455px;}
.icon-up input{position: absolute;right: 0;top: 0;opacity: 0;filter: alpha(opacity=0);}
/*公众号结束*/
.pull-list{top:70px;z-index:9999;background:#042c3c;}
.headnav-user .pull-list a{padding:0;display:inline-block;width:140px;text-align:center;}
.srh-close{display:inline-block;height:16px;width:16px;background-position:0px -112px;right:54px;top:7px;cursor:pointer;}
.js_table_branch li.rel input.abs{top:0px;left:109px;height:36px;line-height:36px;}

/*配货计划样式*/
.table-style{width:100%;background:#fff;line-height:36px;border:1px solid #cdd3d5;}
.table-style td{border-right:1px dashed #ccc;text-align: center;font-size: 12px}
.table-style th{background:#e9eff1;}
.table-style tr.table-tr-blue td{background:#f3fbff;}
.member-box{width:100%;padding:10px 0;background:#fff;border-radius:5px;}
.mem-dtl{margin:20px;border:1px solid #d9dcde;border-radius:5px;}
.mem-dtl .table-style{border:none;border-collapse:collapse;border-spacing:0;}
.mem-dtl h3 input{right:10px;height:30px;padding:0 10px;background:#0ae;color:#fff;border-radius:4px;top:6px;}
.boxtab-btn input{border:1px solid #0ae;border-radius:3px;}
.boxtab-btn li.list{background-position:-464px -262px;}
.boxtab-btn li.save{background-position:14px -489px;color:#ffa200;}
.boxtab-btn li.boxtab-btn-ipt{padding:10px 10px;}
.cargo-l{width:35%;}
.cargo-r{width:65%;}
.cargo-l .mem-dtl{margin:0 10px;margin-bottom:10px;}
.cargo-l .mem-dtl h3{background:#fff;border-radius:4px;}
.cargo-r .mem-dtl{margin:0;}

.cargo-r .mem-dtl .table-style thead th{border-top:none;border-right:1px dashed #ccc;text-align: center}
.cargo-choosebox input{border:1px solid #e3e7e9;border-radius:4px;height:30px;margin:10px;width:72px;padding:0 6px;}
.cargo-choosebox a{right:11px;color:#fff;background:#0ae;display:inline-block;width:20px;height:30px;line-height:24px;top:-6px;border:1px solid #0ae;border-radius:0 4px 4px 0;}
.cargo-r .mem-dtl .table-style td input{border:1px solid #e3e7e9;border-radius:4px;height:30px;margin:10px;width:72px;padding:0 6px;}
.amount-p{height:26px;line-height:40px;display:inline-block;padding:7px 0;}
.amount-p em{display:inline-block;height:25px;width:25px;background-position:-1px -536px;cursor:pointer;margin:0 6px;}
.amount-p em.min{background-position:-1px -570px;}
.cargo-th-title{width:100%;border-top:1px dashed #ccc;}
.cargo-th-title span{display:inline-block;width:31%;text-align:center;}

/** 菜品档案添加图标 */
.boxtab-btn li.daoru{background-position:-218px -226px;}
.boxtab-btn li.daochu{background-position:-218px -257px;}
.boxtab-btn li.xiazai{background-position:-218px -285px;}