@charset "utf-8";
/* CSS Document */
.set-box{background:#fcfcfc;border:2px solid #ccc;border-radius:8px;float:left;height:300px;margin:10px 30px 30px 10px;min-width:240px;text-align:center;width:20%;cursor: pointer}
.set-box span{background:url(../img/sell-icon.png) no-repeat scroll 0 0 / 100% auto;display:block;height:160px;margin:40px auto 20px;width:160px;}
.set-box p{color:#575757;font-size:20px;font-weight:bold;}
.set-box-lsls{border-color:#ff9728;}
.set-box span.set-icon-lsls{background-position:1px -320px;}
.set-box-lsdz{border-color:#ff7373;}
.set-box span.set-icon-lsdz{background-position:1px -138px;}
.set-box-xsdd{border-color:#20cdd3;}
.set-box span.set-icon-xsdd{background-position:1px 9px;}